.main-page {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;

  header {
    text-align: center;
    flex: 0 1 auto;
  }
  rps-game-board {
    flex: 1 1 auto;
  }

  footer {
    flex: 0 1 30px;
    text-align: right;
  }
}

